@import "tailwindcss";

@font-face {
  font-family: "NeueHaasDisplay-Roman";
  src: url("../public/fonts/NeueHaasDisplay-Roman.eot");
  src:
    url("../public/fonts/NeueHaasDisplay-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("../public/fonts/NeueHaasDisplay-Roman.woff") format("woff"),
    url("../public/fonts/NeueHaasDisplay-Roman.ttf") format("truetype"),
    url("../public/fonts/NeueHaasDisplay-Roman.svg#NeueHaasDisplay-Roman")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP-Editorial-New";
  src: url("../public/fonts/PPEditorialNew-Ultralight.eot");
  src:
    url("../public/fonts/PPEditorialNew-Ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/PPEditorialNew-Ultralight.woff2") format("woff2"),
    url("../public/fonts/PPEditorialNew-Ultralight.woff") format("woff"),
    url("../public/fonts/PPEditorialNew-Ultralight.ttf") format("truetype"),
    url("../public/fonts/PPEditorialNew-Ultralight.svg#PPEditorialNew-Ultralight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian-Mono-Light";
  src: url("../public/fonts/MartianMono-Light.eot");
  src:
    url("../public/fonts/MartianMono-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/MartianMono-Light.woff2") format("woff2"),
    url("../public/fonts/MartianMono-Light.woff") format("woff"),
    url("../public/fonts/MartianMono-Light.ttf") format("truetype"),
    url("../public/fonts/MartianMono-Light.svg#MartianMono-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FamiljenGroteskVariable-Regular";
  src: url("../public/fonts/FamiljenGroteskVariable-Regular.eot");
  src:
    url("../public/fonts/FamiljenGroteskVariable-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/FamiljenGroteskVariable-Regular.woff2") format("woff2"),
    url("../public/fonts/FamiljenGroteskVariable-Regular.woff") format("woff"),
    url("../public/fonts/FamiljenGroteskVariable-Regular.ttf")
      format("truetype"),
    url("../public/fonts/FamiljenGroteskVariable-Regular.svg#FamiljenGroteskVariable-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --size: 750;
}
@media (min-width: 650px) {
  :root {
    --size: 1440;
  }
}

@theme {
  --breakpoint-1xl: 1441px;
  --color-black: #272727;
  --color-cream: #e6e4e2;
  --color-grey: #2a2a27;
  --color-grey-light: #9c9c9c;
  --color-grey-line: #434343;
  --color-cream-line: #d8d8d8;
  --color-dark-font: #434343;
  --color-light-font: #d8d8d8;
  --animate-arrow: arrow 1s ease-in infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(15px);
  }
}

html {
  font-family: "NeueHaasDisplay-Roman";
  font-size: calc(1000vw / var(--size));
}

body {
  font-family: "NeueHaasDisplay-Roman";
  @apply text-base font-normal leading-[normal] tracking-normal antialiased overflow-x-hidden;
}

h1,
.h1 {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-[6.25rem] leading-22.5 -tracking-[0.06em];
  font-size: clamp(2.25rem, 5.727vw, 6.25rem);
  line-height: clamp(2rem, 5.155vw, 5.625rem);
  letter-spacing: clamp(-0.06em, -0.055vw, -0.06em);
}

h2,
.h2 {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-[5.938rem] leading-22.5 -tracking-[0.06em];
  font-size: clamp(2rem, 5.441vw, 6.25rem);
  line-height: clamp(1.825rem, 5.155vw, 5.625rem);
  letter-spacing: clamp(-0.06em, -0.056vw, -0.06em);
}

h3,
.h3 {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-4xl leading-10.5 -tracking-[0.04em];
}

h4,
.h4 {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-lg leading-5 -tracking-[0.02em];
}

p,
.p {
  font-family: "NeueHaasDisplay-Roman";
  @apply text-xl leading-[normal];
}

.small {
  font-family: "NeueHaasDisplay-Roman";
  @apply text-base leading-[normal];
}

.title {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-base leading-4.5 -tracking-[0.02em] uppercase;
}

.menu {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-xl leading-5.5 -tracking-[0.04em];
}

.button-text {
  font-family: "Martian-Mono-Light";
  @apply text-sm leading-[normal] -tracking-[0.06em];
}

.number-small {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-[3.5rem] leading-12.5 -tracking-[0.06em];
}

.numbers {
  font-family: "PP-Editorial-New";
  @apply text-[5.375rem] leading-24.5 -tracking-[0.06em];
}

.mrquee-text {
  font-family: "FamiljenGroteskVariable-Regular";
  @apply text-[10rem] leading-[normal] -tracking-[0.08em];
  font-size: clamp(3rem, 9.164vw, 10rem);
  line-height: clamp(0.672, 0.672, 0.672);
  letter-spacing: clamp(-0.08em, -0.073vw, -0.08em);
}

.mrquee-text .marquee-text-item {
  @apply relative -top-3;
}

.tr__container {
  @apply px-6 md:px-10 mx-auto;
}

canvas {
  display: block;
}
